[submodule "ColorfulConsole"]
	path = ColorfulConsole
	url = https://github.com/LovelyCatHyt/ColorfulConsole
[submodule "polyfit"]
	path = polyfit
	url = https://github.com/natedomin/polyfit.git
[submodule "libbcrypt"]
	path = libbcrypt
	url = https://github.com/trusch/libbcrypt.git
[submodule "AES"]
	path = AES
	url = https://github.com/SergeyBel/AES.git
[submodule "cpp-base64"]
	path = cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "PicoSHA2"]
	path = PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
