[submodule "ColorfulConsole"]
	path = ColorfulConsole
	url = https://github.com/LovelyCatHyt/ColorfulConsole
[submodule "polyfit"]
	path = polyfit
	url = https://github.com/natedomin/polyfit.git
[submodule "libbcrypt"]
	path = libbcrypt
	url = https://github.com/trusch/libbcrypt.git
